{% extends 'base.html.twig' %}

{% block body %}

<div class="container instrument-menu">
  <ul id="categories" class="nav nav-tabs /*nav-justified*/">
    {% for category in categories %}
      <li id="category-{{ loop.index0 }}" class="nav-item">
        <a id="category-tab-{{ loop.index0 }}" class="nav-link" href="#category-tab-{{ loop.index0 }}-placeholder" data-toggle="tab">
          {{ category.name }}
        </a>
      </li>
    {% else %}
      <li class="nav-item"><em>No category</em></li>
    {% endfor %}
  </ul>
</div>

<div class="instrument-list container tab-content">
  {% for category in categories %}
    <div id="category-tab-{{ loop.index0 }}-placeholder" class="instrument-category-tab tab-pane fade">
      <div class="container-flex">
        <div id="instrument-container-{{ loop.index0 }}" class="instrument-container row row-cols-2">
          <!--instrument card with information-->
        </div>
      </div>
    </div>    
  {% else %}
    <span>No categories are found</span>
  {% endfor %}
</div>

<div id="loadingOverlay">
  <span class="loadingText">Loading...</span>
</div>

<link rel="stylesheet" href="/css/instruments.main.css">

<script src="/bundles/c/ajax.js">
</script>
<script src="/bundles/c/template.js">
</script>
<script src="/bundles/c/instruments/main.js">
</script>

<script>
  /**
   * Fill data into html
  */
  async function getInstruments(instContId) {
    let container = document.getElementById(instContId);
    const instruments = await ajax(`{{ path('api.instruments.index') }}`);
    const instCardTmpl = `{{ include('instruments/components/_instrument_card.html.twig') }}`;

    instruments.forEach((instrument) => {
      instrument.show = Routing.generate('instruments.show', {id: instrument.id});
      container.innerHTML += completeTemplate(instCardTmpl, {instrument});
    });
  }

  document.addEventListener('DOMContentLoaded', loadedFunction);
</script>

{% endblock %}