{% extends 'base.html.twig' %}

{% block body %}

<div class="my-2">
  <div class="row">
    <div class="col">

      <div class="instrument-menu">
          <ul id="categories" class="nav nav-tabs /*nav-justified*/">
            {% for category in categories %}
              <li id="category-{{ loop.index0 }}" class="nav-item">
                <a id="category-tab-{{ loop.index0 }}" class="nav-link" href="#category-tab-{{ loop.index0 }}-placeholder" data-toggle="tab">
                  {{ category.name }}
                </a>
              </li>
            {% else %}
              <li class="nav-item"><em>No category</em></li>
            {% endfor %}
          </ul>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col">

        <div class="instrument-list">
          <div class="tab-content vh-100">
            {% for category in categories %}
              <div id="category-tab-{{ loop.index0 }}-placeholder" class="instrument-category-tab tab-pane fade">
                
                  <div class="instrument-container">
                    <div class="row row-cols-2">
                      <div id="model-container-{{ loop.index0 }}" class="col">
                        <!--instrument card with information-->
                      </div>
                    </div>
                  </div>
                
              </div>    
            {% else %}
              <span>No categories are found</span>
            {% endfor %}
          </div>
        </div>

    </div>
  </div>

</div>

<div id="loadingOverlay">
  <span class="loadingText">Loading...</span>
</div>

<link rel="stylesheet" href="/css/instruments.main.css">

<script src="/bundles/c/ajax.js">
</script>
<script src="/bundles/c/template.js">
</script>
<script src="/bundles/c/instruments/main.js">
</script>

<script>

  const categories = JSON.parse('{{ categories|json_encode|raw }}');
  Object.freeze(categories);
  /**
   * Fill data into html
  */
  async function getModelsByCategory(catContId) {
    const models = await ajax(Routing.generate('api.models.show_with_categoty', {id: categories[catContId]['id']}));
    let container = document.getElementById('model-container-' + catContId);
    const instCardTmpl = `{{ include('models/components/_model_card.html.twig') }}`;

    models.forEach((model) => {
      model.show = Routing.generate('models.show', {id: model.id});
      Object.freeze(model);
      container.innerHTML += completeTemplate(instCardTmpl, {model});
    });
  }

  document.addEventListener('DOMContentLoaded', loadedFunction);

  const tabsContainer = document.getElementById('categories');

  tabsContainer.addEventListener('wheel', (event) => {
    event.preventDefault();
    tabsContainer.scrollLeft += event.deltaY;
  });

</script>

{% endblock %}